public net.minecraft.world.entity.animal.bee.Bee$BeePollinateGoal

public net.minecraft.world.entity.animal.fox.Fox$SeekShelterGoal
public net.minecraft.world.entity.animal.fox.Fox$PerchAndSearchGoal

public net.minecraft.world.level.BlockGetter traverseBlocks(Lnet/minecraft/world/phys/Vec3;Lnet/minecraft/world/phys/Vec3;Ljava/lang/Object;Ljava/util/function/BiFunction;Ljava/util/function/Function;)Ljava/lang/Object; # traverseBlocks
public net.minecraft.world.level.chunk.PalettedContainer$Data
public net.minecraft.world.level.chunk.PalettedContainer$Data <init>(Lnet/minecraft/world/level/chunk/Configuration;Lnet/minecraft/util/BitStorage;Lnet/minecraft/world/level/chunk/Palette;)V

public net.minecraft.world.entity.projectile.ProjectileUtil getHitResult(Lnet/minecraft/world/phys/Vec3;Lnet/minecraft/world/entity/Entity;Ljava/util/function/Predicate;Lnet/minecraft/world/phys/Vec3;Lnet/minecraft/world/level/Level;FLnet/minecraft/world/level/ClipContext$Block;)Lnet/minecraft/world/phys/HitResult; # getHitResult

# Season Color
public net.minecraft.world.level.FoliageColor pixels # pixels
public net.minecraft.world.level.GrassColor pixels # pixels

public net.minecraft.client.gui.font.FontManager$FontDefinitionFile
public net.minecraft.client.gui.font.FontManager$FontDefinitionFile <init>(Ljava/util/List;)V
public-f net.minecraft.data.loot.LootTableProvider getName()Ljava/lang/String; # getName

public net.minecraft.server.level.ServerChunkCache getVisibleChunkIfPresent(J)Lnet/minecraft/server/level/ChunkHolder; # getVisibleChunkIfPresent

public net.minecraft.client.renderer.LevelRenderer visibleSections # visibleSections
public net.minecraft.client.renderer.LevelRenderer viewArea # viewArea
public net.minecraft.client.renderer.LevelRenderer level # level
public net.minecraft.client.renderer.ViewArea getSectionIndex(III)I # getSectionIndex
public net.minecraft.client.renderer.chunk.SectionCopy
public net.minecraft.client.renderer.chunk.SectionCopy wrapped # wrapped

public-f net.minecraft.client.renderer.BiomeColors FOLIAGE_COLOR_RESOLVER # FOLIAGE_COLOR_RESOLVER
public-f net.minecraft.client.renderer.BiomeColors GRASS_COLOR_RESOLVER # GRASS_COLOR_RESOLVER
public-f net.minecraft.client.renderer.BiomeColors DRY_FOLIAGE_COLOR_RESOLVER # DRY_FOLIAGE_COLOR_RESOLVER

public net.minecraft.world.level.biome.MultiNoiseBiomeSource parameters()Lnet/minecraft/world/level/biome/Climate$ParameterList; # parameters

public net.minecraft.server.level.ChunkMap allChunksWithAtLeastStatus(Lnet/minecraft/world/level/chunk/status/ChunkStatus;)Ljava/util/stream/Stream;
public net.minecraft.world.level.biome.Biome getTemperature(Lnet/minecraft/core/BlockPos;I)F

public net.minecraft.server.level.ServerLevel THUNDER_DELAY # THUNDER_DELAY

public net.minecraft.client.multiplayer.ClientLevel getSkyFlashTime()I

#public net.minecraft.client.renderer.GameRenderer postEffect # postEffect
public net.minecraft.client.renderer.GameRenderer effectActive # effectActive
#public net.minecraft.client.renderer.GameRenderer shaders # shaders
public net.minecraft.client.renderer.PostChain passes # passes

#public net.minecraft.client.renderer.block.ModelBlockRenderer$AmbientOcclusionFace


public net.minecraft.commands.arguments.ResourceKeyArgument resolveKey(Lcom/mojang/brigadier/context/CommandContext;Ljava/lang/String;Lnet/minecraft/resources/ResourceKey;Lcom/mojang/brigadier/exceptions/DynamicCommandExceptionType;)Lnet/minecraft/core/Holder$Reference; # resolveKey

public net.minecraft.world.clock.ServerClockManager$ClockInstance
public net.minecraft.world.clock.ServerClockManager getInstance(Lnet/minecraft/core/Holder;)Lnet/minecraft/world/clock/ServerClockManager$ClockInstance;
public net.minecraft.world.clock.ServerClockManager$ClockInstance totalTicks
public net.minecraft.world.clock.ServerClockManager$ClockInstance timeMarkers

public net.minecraft.client.ClientClockManager getInstance(Lnet/minecraft/core/Holder;)Lnet/minecraft/client/ClientClockManager$ClockInstance;
public net.minecraft.client.ClientClockManager$ClockInstance
public net.minecraft.client.ClientClockManager$ClockInstance partialTick

public net.minecraft.world.timeline.Timeline$TimeMarkerInfo
public net.minecraft.world.timeline.Timeline$TimeMarkerInfo <init>(IZ)V
public net.minecraft.world.timeline.Timeline timeMarkers


public net.minecraft.client.data.models.ModelProvider$ItemInfoCollector
public net.minecraft.client.data.models.ModelProvider$BlockStateGeneratorCollector
public net.minecraft.client.data.models.ModelProvider$SimpleModelCollector
public net.minecraft.client.data.models.ModelProvider$SimpleModelCollector <init>()V

public net.minecraft.world.attribute.EnvironmentAttributeSystem$ValueSampler
public net.minecraft.util.KeyframeTrackSampler loopTicks(J)J
public net.minecraft.util.KeyframeTrackSampler periodTicks

public net.minecraft.core.cauldron.CauldronInteractions newDispatcher(Ljava/lang/String;)Lnet/minecraft/core/cauldron/CauldronInteraction$Dispatcher;
public net.minecraft.core.cauldron.CauldronInteraction$Dispatcher put(Lnet/minecraft/world/item/Item;Lnet/minecraft/core/cauldron/CauldronInteraction;)V

public net.minecraft.client.renderer.block.dispatch.multipart.MultiPartModel$SharedBakedState
public net.minecraft.client.renderer.block.dispatch.multipart.MultiPartModel$SharedBakedState selectors
public net.minecraft.client.renderer.block.dispatch.multipart.MultiPartModel$Unbaked sharedStateKey
public net.minecraft.client.renderer.block.dispatch.multipart.MultiPartModel <init>(Lnet/minecraft/client/renderer/block/dispatch/multipart/MultiPartModel$SharedBakedState;Lnet/minecraft/world/level/block/state/BlockState;)V
public net.minecraft.client.resources.model.sprite.TextureSlots <init>(Ljava/util/Map;)V
public net.minecraft.client.resources.model.sprite.TextureSlots resolvedValues

public net.minecraft.client.gui.GuiGraphicsExtractor mouseX
public net.minecraft.client.gui.GuiGraphicsExtractor mouseY
public net.minecraft.client.renderer.blockentity.HangingSignRenderer$Models
public net.minecraft.client.renderer.blockentity.HangingSignRenderer$Models <init>(Lnet/minecraft/client/model/Model$Simple;Lnet/minecraft/client/model/Model$Simple;Lnet/minecraft/client/model/Model$Simple;)V
public net.minecraft.client.renderer.blockentity.AbstractSignRenderer submitSignText(Lnet/minecraft/client/renderer/blockentity/state/SignRenderState;Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/SubmitNodeCollector;Lnet/minecraft/world/level/block/entity/SignText;)V